@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';

//General Styling

.max-width{
	max-width: 1400px;
}

a{
	text-decoration: none;
	color: black;
}

h1{
	margin:0
}

h2{
	margin: 0;
}

ul{
	margin: 0;
	li{
		list-style: none;
		padding: none;
	}
}

.skill-card{
	.skill-card_icon{
		font-size: 100px;
	}
}