//About Section Styling!!!! WHAT.

.about-section{
	background-image: url(../../../images/about-me-background.png);
	.about-section_overlay{
		background-color: rgba(255, 255, 255, 0.7);
	}
}

.about-section_flex{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.about-flex_child{
		flex: 1 0 300px;
	}
	.about-flex_img{
		margin-right:25px;
		img{
			border-radius: 500px;
			box-shadow: -10px 10px 0px 2px black;
			max-width: 100%;
		}
	}
	.about-flex_text{
		p{
			margin-top: 25px;
			font-famiy: $baseFont;
			font-size: 16px;
			line-height: 25px;
		}
	}
}
